table, th, td {
	border: 1px solid black;border-collapse: collapse;background-color: #fff;
}

html {
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 12px;
}

h1:not(:first-of-type) {
	page-break-before: always;
}

pre {
	white-space: pre-wrap;
}

td, th {
  font-size: 12px;
}

a {
  color: black;
}

td, th {
  font-size: 12px;
}

.mjx-chtml {
	padding-bottom: 5px !important;
}
